Recover your account,

Please click on the link below to recover your account and
set a new password!

{{ .RecoveryURL }}

If you didn't ask for us to recover your account, you can safely
ignore this email.