# misc
.DS_Store
*.pem

.venv

# ide
.idea/*

# in case someone exports kubeconfig for cluster from pulumi inside repo
*kubeconfig.yaml

# don't commit the certs created for cockroachdb
**/certs

# VScode workspace files
*.code-workspace

.fynbos/**

typescript/**/node_modules

# test migrations
testmigrations
documentation/site
coverage.out

.env

**/.vagrant
**/.pnpm-store
**/dev_bck
.pnpm-store

# AI
openspec
.claude
.agent
CLAUDE.md