# misc
.DS_Store
*.pem

# ide
.idea/*

# in case someone exports kubeconfig for cluster from pulumi inside repo
*kubeconfig.yaml

# don't commit the certs created for cockroachdb
**/certs

# VScode workspace files
*.code-workspace

.fynbos/**

typescript/**/node_modules

# test migrations
testmigrations

coverage.out

.env
*.env

**/.vagrant
**/.pnpm-store
