@tailwind base;
@tailwind components;
@tailwind utilities;

/* Implement colour tokens as css variables */
@layer base {
  :root {
    --title-default: theme('colors.slate.900');
    --title-one: theme('colors.indigo.500');
    --title-two: theme('colors.orange.500');
    --title-three: theme('colors.purple.500');
    --title-four: theme('colors.yellow.400');
    --background-default: theme('colors.white');
    --background-one: theme('colors.indigo.100');
    --background-two: theme('colors.orange.600');
    --background-three: theme('colors.purple.600');
    --background-four: theme('colors.yellow.600');
  }

  .theme-dark {
    --title-default: theme('colors.white');
    --title-one: theme('colors.indigo.500');
    --title-two: theme('colors.orange.500');
    --title-three: theme('colors.purple.500');
    --title-four: theme('colors.yellow.400');
    --background-default: theme('colors.slate.950');
    --background-one: theme('colors.lime.900');
    --background-two: theme('colors.lime.900');
    --background-three: theme('colors.lime.900');
    --background-four: theme('colors.lime.900');
  }

  @media (prefers-color-scheme: dark) {
    /* This is a duplicate of the dark theme */
    .theme-system {
      --title-default: theme('colors.white');
      --title-one: theme('colors.indigo.500');
      --title-two: theme('colors.orange.500');
      --title-three: theme('colors.purple.500');
      --title-four: theme('colors.yellow.400');
      --background-default: theme('colors.slate.950');
      --background-one: theme('colors.lime.900');
      --background-two: theme('colors.lime.900');
      --background-three: theme('colors.lime.900');
      --background-four: theme('colors.lime.900');
    }
  }
}
