{
	debug
	http_port 8080

	# TLS Options
	auto_https off
}

:8080

respond * 200 {
	body "{\"active\":true,\"grant\":\"PRY5NM33OM4TB8N6BW7\",\"access\":[{\"type\":\"incoming-payment\",\"actions\":[\"create\",\"read\"]},{\"type\":\"outgoing-payment\",\"actions\":[\"read\"]}]}"
	close
}

header Content-type application/json

log {
	level debug
}
