FYNBOS_ENV = "local"
RAFIKI_DB_URL = "postgres://postgres:password@localhost:5432/rafiki_backend?sslmode=disable"
RAFIKI_AUTH_DB_URL = "postgres://postgres:password@localhost:5432/rafiki_auth?sslmode=disable"
DB_URL_WITH_CERTS = "postgres://postgres:password@localhost:5432/backend?sslmode=disable"
DB_URL = "postgres://postgres:password@localhost:5432/backend?sslmode=disable"
PACIOLI_DB_URL_WITH_CERTS = "postgres://postgres:password@localhost:5432/pacioli?sslmode=disable"
PACIOLI_DB_URL = "postgres://postgres:password@localhost:5432/pacioli?sslmode=disable"
KRATOS_URL = "http://localhost:4433"
KRATOS_ADMIN_URL = "http://localhost:4434"
LOG_LEVEL = "info"
USD_LEDGER_ID = "1"
NOOP_EQUITY_ACCOUNT_ID = "43d4b2bd-e29b-4a63-9aa8-7990776c714e"
GOOGLE_OUATH2_CLIENT_ID = "google_oauth"
RAFIKI_GRAPHQL_URL = "http://rafiki.rafiki/graphql"
TEMPORAL_URL = "localhost:7233"
ENV_FILE = ""
TWILIO_ACCOUNT_SID = "SK021f793191208ba69c3bea87dd426085"
TWILIO_SERVICE_SID = "VA8af4e130da63b9fac4c042acbc33a267"
TWILIO_ACCOUNT_TOKEN = "test"
ZENDESK_USER = "matt@fynbos.dev"
ZENDESK_TOKEN = "test"
OTEL_EXPORTER_OTLP_ENDPOINT = "grpc://api.honeycomb.io:443"
OTEL_EXPORTER_OTLP_HEADERS = "x-honeycomb-team=7Qskhns7Dc7wgazrDe6yZD"
OTEL_SERVICE_NAME = "backend"
GATEHUB_APP_ID = "<replace-me>"
GATEHUB_SECRET = "<replace-me>"
GATEHUB_CARD_APP_ID = "<replace-me>"