Invalid account recovery attempt,

You (or someone else) entered this email address when trying to recover access to a Fynbos account.

However, this email address is not on our database of registered users and therefore the attempt has failed.

If this was you, please check if you signed up using a different email address.

If this was not you, you can safely ignore this email.
