node_modules
build_local
.vscode
.idea
Thumbs.db
.DS_Store
npm-debug.log
yarn-error.log

# yarn 2 (Not zero installs)
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
