<template src="main">
  <h1 style="margin: 0 auto 24px">Your recent deposit was successful.</h1>
  <p style="margin: 0 auto 4px">Total amount</p>
  <p
    style="
      color: #0f172a;
      margin: 0 auto 24px;
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
    "
  >
    {{ amount }}
  </p>

  <table style="width: 100%; border-collapse: collapse">
    <tbody>
      <tr style="margin-top: 8px">
        <th style="width: 30%"><p>Deposit date</p></th>
        <td style="vertical-align: center; text-align: end; padding: 0">
          <p style="color: #0f172a; font-weight: 500">{{ date }}</p>
        </td>
      </tr>
      <tr style="margin-top: 8px">
        <th style="width: 30%"><p>Linked account</p></th>
        <td style="vertical-align: center; text-align: end; padding: 0">
          <p style="color: #0f172a; font-weight: 500">{{ linkedAccount }}</p>
        </td>
      </tr>
      <tr style="margin-top: 8px">
        <th style="width: 30%"><p>Fees</p></th>
        <td style="vertical-align: center; text-align: end; padding: 0">
          <p style="color: #0f172a; font-weight: 500">$ 0.00</p>
        </td>
      </tr>
    </tbody>
  </table>

  <a class="anchorButton" style="margin-top: 32px" href="{{ accountUrl }}">
    <p style="margin: auto auto; color: white">View account</p>
  </a>
</template>
