<template src="main">
  <h1 style="margin: 0 auto 24px">Receipt</h1>
  <p style="margin: 0 auto 4px">To</p>
  <p style="color: #0f172a; margin: 0 auto 24px">{{ toPaymentPointer }}</p>
  <p style="margin: 0 auto 4px">From</p>
  <p style="color: #0f172a; margin: 0 auto 24px">{{ fromPaymentPointer }}</p>

  <table style="width: 100%; border-collapse: collapse">
    <tbody>
      <tr>
        <th style="width: 30%"><p>You pay</p></th>
        <td style="vertical-align: center; text-align: end; padding: 0">
          <p style="color: #0f172a; font-weight: 500">{{ sendAmount }}</p>
        </td>
      </tr>
      <tr style="height: 8px"></tr>
      <tr>
        <th><p>Total fees</p></th>
        <td style="vertical-align: top; text-align: end; padding: 0">
          <p style="color: #0f172a; font-weight: 500">{{ fees }}</p>
        </td>
      </tr>
      <tr style="height: 8px"></tr>
      <tr>
        <th><p>They receive</p></th>
        <td style="vertical-align: top; text-align: end; padding: 0">
          <p style="color: #0f172a; font-weight: 500">{{ receiveAmount }}</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p style="margin: 24px auto 4px">Payment date</p>
  <p style="color: #0f172a; margin: 0 auto 24px">{{ paymentDate }}</p>
  <p style="margin: 0 auto 4px">Note</p>
  <p style="color: #0f172a; margin: 0 auto 24px">{{ note }}</p>
  <p style="margin: 0 auto 4px">Transaction ID</p>
  <p style="color: #0f172a">{{ transactionID }}</p>
</template>
