[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = req_ext
prompt             = no

[ req_distinguished_name ]
CN = interledger.test

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = interledger.test
DNS.2 = *.interledger.test
DNS.3 = local.ilp.link
DNS.4 = *.local.ilp.link
DNS.5 = *.mgnt.interledger.test
DNS.6 = localhost
DNS.7 = traefik.test
DNS.8 = ngrok.test
IP.1  = 127.0.0.1
