FYNBOS_ENV=local 
KRATOS_URL=http://localhost:4433 
RAFIKI_AUTH_ENDPOINT=http://localhost:3006 
CHOKIDAR_USEPOLLING=true 
COOKIE_SECRETS=
PUSHER_APP_KEY=91988d6075551d29760a 
PUSHER_APP_CLUSTER=eu 
PAYMENT_POINTER_BASE=local.ilp.link 
DATO_API_TOKEN=b96709bce873f5280722da965b0e9d 
BACKEND_GRPC_URL=http://localhost:8443 
REDIS_URL=redis://localhost:6379/2 
