@tailwind base;
@tailwind components;
@tailwind utilities;

/* Implement colour tokens as css variables */
@layer base {
  :root {
    /* Text */
    --text-strong: 0, 0, 0;
    --text-medium: 55, 65, 81;
    --text-weak: 75, 85, 99;
    --text-disabled: 156, 163, 175;
    --text-primary: 243, 81, 103;
    --text-error: 185, 28, 28;

    /* Background */
    --bg-app: 255, 255, 255;
    --bg-container: 243, 244, 246;
    --bg-container-hover: 229, 231, 235;
    --bg-strong: 156, 163, 175;
    --bg-disabled: 229, 231, 235;
    --bg-primary: 243, 81, 103;
    --bg-container-primary: 253, 226, 230;
    --bg-container-primary-hover: 252, 207, 214;
    --bg-container-primary-active: 252, 207, 214;
    --bg-snackbar: 31, 41, 55;

    /* Border */
    --border-base: 209, 213, 219;
    --border-focus: 243, 81, 103;
    --border-hover: 247, 140, 155;
    --border-active: 247, 140, 155;
    --border-error: 185, 28, 28;
  }
}

/* Prism syntax highlighting */
@import 'prism.css';

/* Smooth scrolling to anchor tags */
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

:target:before {
  content: '';
  display: block;
  height: 136px;
  margin: -136px 0 0;
}
/* End: smooth scroll*/

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 18C1.45 18 0.979 17.8043 0.587 17.413C0.195667 17.021 0 16.55 0 16V2C0 1.45 0.195667 0.979 0.587 0.587C0.979 0.195667 1.45 0 2 0H16C16.55 0 17.021 0.195667 17.413 0.587C17.8043 0.979 18 1.45 18 2V16C18 16.55 17.8043 17.021 17.413 17.413C17.021 17.8043 16.55 18 16 18H2ZM2 16H16V2H2V16ZM7.6 13.2L14.65 6.15L13.25 4.75L7.6 10.4L4.75 7.55L3.35 8.95L7.6 13.2Z' fill='%23F35167'/%3E%3C/svg%3E%0A");
}

input[type='date']::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  margin-right: -14px;
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='48' viewBox='0 0 56 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='48' fill='%23F3F4F6'/%3E%3Cmask id='mask0_2082_4204' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='16' y='12' width='24' height='24'%3E%3Crect x='16' y='12' width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2082_4204)'%3E%3Cpath d='M21 34C20.45 34 19.979 33.8043 19.587 33.413C19.1957 33.021 19 32.55 19 32V18C19 17.45 19.1957 16.9793 19.587 16.588C19.979 16.196 20.45 16 21 16H22V14H24V16H32V14H34V16H35C35.55 16 36.021 16.196 36.413 16.588C36.8043 16.9793 37 17.45 37 18V32C37 32.55 36.8043 33.021 36.413 33.413C36.021 33.8043 35.55 34 35 34H21ZM21 32H35V22H21V32ZM21 20H35V18H21V20Z' fill='%23374151'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 56px;
  height: 48px;
  border-width: thin;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  background-color: rgba(var(--bg-primary), 0.5);
}
