/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@tailwind components;
@tailwind utilities;

/* Implement colour tokens as css variables */
@layer base {
  :root {
    /* Text */
    --text-strong: 0, 0, 0;
    --text-medium: 55, 65, 81;
    --text-weak: 75, 85, 99;
    --text-disabled: 156, 163, 175;
    --text-primary: 243, 81, 103;
    --text-error: 185, 28, 28;

    /* Background */
    --bg-container: 243, 244, 246;
    --bg-container-hover: 229, 231, 235;
    --bg-strong: 156, 163, 175;
    --bg-disabled: 229, 231, 235;
    --bg-primary: 243, 81, 103;
    --bg-container-primary: 253, 226, 230;
    --bg-container-primary-hover: 252, 207, 214;
    --bg-container-primary-active: 252, 207, 214;

    /* Border */
    --border-base: 209, 213, 219;
    --border-focus: 243, 81, 103;
    --border-hover: 247, 140, 155;
    --border-active: 247, 140, 155;
    --border-error: 185, 28, 28;
  }
}

/* Prism syntax highlighting */
@import 'prism.css';

/* Smooth scrolling to anchor tags */
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

:target:before {
  content: '';
  display: block;
  height: 136px;
  margin: -136px 0 0;
}
/* End: smooth scroll*/
